[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
translate-toolkit = {editable = true,git = "https://github.com/Dearkoma/translate.git"}

[requires]
python_version = "3.7"
